<p id="notice"><%= notice %></p>

<h2>User</h2>
<p>
  <strong>Name:</strong>
  <%= @user.name.capitalize %>
</p>

<br>
<a href="<%= @user.id %>/activities">Activities</a>
<br>
<%= link_to 'Back to Users', users_path %>
