<div id="bgimage">
  <div class="overlay">
    <h1 class="title">Fitness Tracker</h1>
    <h2>Ever wonder how far you walked in a week of fitness activity?</h2>
    <p>Input your fitness activity- currently you can select running, swimming, or biking. Make sure to log the distance in miles you worked out for each activity!</p>
    <p>Then select 'Track' to see how far you've traveled in total for that week! Fitness Tracker calculates the total distance and shows you the destination you would have reached.</p>
  </div>
</div>